<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509575966389-o4n4ol19mbfrvl1j5i9vas7vq9cft48s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509575966389-o4n4ol19mbfrvl1j5i9vas7vq9cft48s</string>
	<key>API_KEY</key>
	<string>AIzaSyC2F_JJpxHSuosUIPnxPlc2Fi_rGyxeNJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>509575966389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.template.bookAppointment</string>
	<key>PROJECT_ID</key>
	<string>doctorfinder-book-appointment</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorfinder-book-appointment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509575966389:ios:9401d4570ae5342fb458fc</string>
</dict>
</plist>